
body{
    background-color: lightblue;
}

* {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
 
  .column {
    flex: 33.33%;
    padding: 5px;
  }

h1{
    color: rebeccapurple;
    text-align: center;
}


#noodleBtn, #burgerBtn, #sandwichBtn{
    background-color: blue;
}

